.list-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  /* Scroll Attributes */
}

.list-item {
  position: relative;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  list-style: none;
  background: white;
  border: 1px solid var(--light-color);
  border-radius: var(--rounded-md);
  /* box-shadow: var(--shadow-lg); */
}

.main-content {
  padding: 1rem;
}

/* DEPRECATED */
.about-article {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--light-color);
  border-radius: 0.375rem;
  color: var(--text-light);
}

article {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--light-color);
  border-radius: 0.375rem;
  color: var(--text-light);
}
