.brand-reactjs {
  position: relative;
  letter-spacing: 0.05rem;
}

.brand-reactjs::before {
  /* Position Attributes */
  position: absolute;
  /* Spacing Attributes */
  content: "";
  margin: -0.15rem 0;
  padding: 0.15rem 2.5rem;
  /* Border Attributes */
  border-radius: 0.1rem;
  /* Color Attributes */
  /* color: var(--reactjs-color); */
  color: red;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
